<%- include('../partials/header') -%>
<main>
<h1 id='head'>Workouts</h1>
<form id='new-form'>
  <table>
    <thead>
      <th>User</th>
      <th>Workout</th>
      <th>Intensity</th>
      <th>Date</th>



    </thead>
    <tbody>
      <% workouts.forEach(function(workout){ %>
      <tr>

</form>
<td><%= user.name %></td>
<td><%= workout.workout %></td>
<td><%= workout.intensity %></td>
<td><%= workout.date.toLocaleDateString() %></td>

<td>
  <form class='delete' action="/workouts/<%= workout._id %>?_method=DELETE" method='POST'>
    <button type='submit'>X</button>
</td>
<td><a href="/workouts/<%= workout._id %>">Detail</a></td>
</tr>

<% }); %>
</tbody>
</table>
<a href="/">Home</a>
<a href="/workouts/new">Add</a>
</form>
</main>

<%- include('../partials/footer') -%>