<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Workouts</title>
</head>
<body>
    <h1 id='head'>Workouts</h1>
    <form id='new-form'>
    <table>
        <thead>
            
            <th>Workout</th>
            <th>Intensity</th>
            <th>Date</th>
        
        </thead>
        <tbody>
        <% workouts.forEach(function(workout){ %>
            <tr>
                
                </form>
                
                <td><%= workout.workout %></td>
                <td><%= workout.intensity %></td>
                <td><%= workout.date %></td>
                
                <td><form class='delete' action="/workouts/<%= workout._id %>?_method=DELETE" method= 'POST'>
                    <button type= 'submit'>X</button></td>
                <td><a href="/workouts/<%= workout._id %>">Detail</a></td>
            </tr>
            
        <% }); %>
        </tbody>
    </table>
    <a href="/">Home</a>
    <a href="/workouts/new">Add</a>
    
    
   
</form>
</body>
</html>