<%- include('../partials/header') -%>
       
  <main>
    <thead>
        <th>User</th>
        <th>WorkOut Type</th>
        <th>Intensity Level</th>
        <th>Date</th>
            <p><%= user.name %></p>
            <p><%= workout.workout %> </p>
           <p> <%= workout.intensity %></p>
           <p> <%= workout.date.toLocaleDateString() %></p>
    </thead>

    <a href="/workouts/<%= workout._id %>/edit">
        <input type="button" value='Edit Workout'>
    </a>

  </main>     
           
  <%- include('../partials/footer') -%>