<%- include('../partials/header') -%>

<main>
  <form id='new-form'>
    <table>
      <h1 id="head">Change Workout Details</h1>
      <thead>

        <th>User</th>
        <th>WorkOut Type</th>
        <th>Intensity Level</th>
        <th>Date</th>
  </form>
  <tbody>
    <tr>
      <td> <%= user.name %> </td>
      <td> <%= workout.workout %> </td>
      <td> <%= workout.intensity %> </td>
      <td> <%= workout.date.toLocaleDateString() %> </td>
    </tr>
    </thead>

  </tbody>
  </table>
  <ul>
    <li>
      <a href="/workouts/<%= workout._id %>/edit">
        <input class="btn" type="button" value='Edit Workout'>
        
    </li>
    </a>
    <li>
      <a href="/workouts">
        <input  class="btn" type="button" value="See New Workout">
      </a>
    </li>
  </ul>


</main>

<%- include('../partials/footer') -%>